@import "../../assets/styles/colors.scss";

.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &__title {
    font-size: 28px;
    margin-bottom: 25px;
    margin-left: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  .princess {
    color: $pc;
  }
  .mr {
    color: $mr;
  }
  .Todd {
    color: $todd;
  }
  .bojack{
    color: $bojack;
  }
  .Diane{
    color: $diane;
  }


  &__preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 692px) {
  .collection-preview {
    justify-content: center;
    text-align: center;
    &__preview {
      justify-content: center;
    }
  }
}
