.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  &:hover {
    .collection-item__customButton {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }
  &__customButton {
    width: 50%;
    opacity: 0.5;
    position: relative;
    bottom: 90px;
    transition: all 0.5s ease;
  }

  &__collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    &__name {
      width: 90%;
      margin-bottom: 15px;
    }

    &__price {
      width: 10%;
    }
  }
}
