@import "../../assets/styles/colors.scss";

.category-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;

  &__title {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
  }

  .princess {
    color: $pc;
  }
  .mr {
    color: $mr;
  }
  .Todd {
    color: $todd;
  }
  .bojack{
    color: $bojack;
  }
  .Diane{
    color: $diane;
  }

  &__sub-title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    p {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 692px) {
  .category-page__preview {
    justify-content: center;
  }
}
