@import "../../assets/styles/colors.scss";

.header {
  height: 70px;
  width: 100%;
  background-color: $blue-base-color;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 20px;
  color: $base-color;

  &__logo-container {
    justify-content: space-between;

    align-self: center;
    color: $base-color;
    font-family: "customfont", "Helvet";
  }

  &__logo {
    display: flex;
    flex-direction: row;
    h1 {
      margin: 0;
      align-self: flex-end;
    }
    .logo {
      align-self: flex-start;
      position: relative;
      margin-left: 10px;
      width: 40px;
    }
    .logo1 {
      transform: rotateY(180deg);
      margin-right: 10px;
    }
  }

  &__options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__option {
      color: $base-color;
      padding: 20px 25px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
