$base-color: #fffff5;
$blue-base-color: #6290ff;

$app-black: #000000;
$app-orange: #df752b;
$app-yellow: #e8c91e;
$app-light-yellow: #ffe19a;

$pc: #ff93ac;
$mr: #e8c91e;
$todd: #ff0000;
$bojack: #6b4c4c;
$diane: #5d7fdd;
